<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">
        <img src="/static/imgs/Logo.png" class="logo">
        Alleviate</span>

        <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  
                  <a class="nav-link" href="/">Logout</a>
                  
                </li>
        </ul>
    </nav>

  </head>


  <body>
    
<!--     <div class="container">
        <div class="row">
            <div class="row">
            </div> -->
        
            <!--
            <div class="row">
                <b>Date:</b> {{ date }}
                <b>Doctor:</b> {{ doctor }}

                <br>
                <br>

                <b>Height:</b> {{ height }} <b>Weight:</b> {{ weight }}
                <b>Heart Rate:</b> {{ heart_rate }}

                <br>
                <br>

                <b>Prescription:</b> {{ prescription_name }} {{ prescription_dosage }}
                <br>
                <br>

                <b>Immunization:</b> {{ immunization_name }}

                <b>Refferal:</b> {{ referred_doctor }}  {{ specialty }}

            


            </div>
            -->

<style type="text/css">
    
.box {

    background: rgba(255,255,255,0.5);
    padding: 25px;
    border-radius: 10px;
    height: 100%;
    margin-right: 1%;
    margin-left: 1%
}

.note-box {
    background: rgba(255,255,255,0.5);
    padding: 25px;
    border-radius: 10px;
    height: 100%;
}

body {
    background: gray;
}

.one {
    margin-bottom: 2%;
}

.logo {
    width: 10%;
}

</style>





<div class="container">
   <div class='row'>
    <br>

   </div>

</div>


<div class="container">
   <div class='row one'>

        <div class='col box'>
            <b>Date:</b> Mar 15, 2019
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 115
         <br>
            <b>Heart Rate:</b> 62 BPM
         <br>
            <b>Prescription:</b> n/a
         <br>
            <b>Immunization:</b> Hep C
         <br>
            <b>Referral:</b> n/a
         <br>
            <div class='note-box'>
                <b>Notes:</b> Check up.
            </div>
         
        </div>


        <div class='col box'>
            <b>Date:</b> Nov 23, 2018
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 119
         <br>
            <b>Heart Rate:</b> 65 BPM
         <br>
            <b>Prescription:</b> Amoxicillin 100mg
         <br>
            <b>Immunization:</b> Tetanus
         <br>
            <b>Referral:</b> Dr. Git, Otorhinolaryngologists
         <br>
         <div class='note-box'>
            <b>Notes:</b> Prescribed for ear infection.
         </div>
        </div>

        <div class="col box">
            
            <b>Date:</b> Apr 12, 2018
            <b>Doctor:</b> Dr. Octocat
            <br>
               <b>Height:</b> 5 ft 7 in <b>Weight:</b> 117
            <br>
               <b>Heart Rate:</b> 66 BPM
           <br>
               <b>Prescription:</b> n/a
            <br>
               <b>Immunization:</b> n/a
            <br>
               <b>Referral:</b> n/a
            <br>
            <div class='note-box'>
               <b>Notes:</b> n/a
            </div>
             
        </div>
   </div>
</div>

<div class="container">

<div class='row one'>
      <div class='col box'>
         
            <b>Date:</b> Oct 15, 2017
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 120
         <br>
            <b>Heart Rate:</b> 62 BPM
         <br>
            <b>Prescription:</b> n/a
         <br>
            <b>Immunization:</b> Hep C
         <br>
            <b>Referral:</b> n/a
         <br>
         <div class='note-box'>
            <b>Notes:</b> Annual check up.
        </div>
         
      </div>



      <div class='col box'>
            <b>Date:</b> Jan 23, 2017
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 119
         <br>
            <b>Heart Rate:</b> 65 BPM
         <br>
            <b>Prescription:</b> n/a
         <br>
            <b>Immunization:</b> Tetanus
         <br>
            <b>Referral:</b> Dr. Git, Otorhinolaryngologists
         <br>
         <div class='note-box'>
            <b>Notes:</b> n/a
         </div>
        </div>

         <div class="col box">
            
               <b>Date:</b> April 12, 2016
               <b>Doctor:</b> Dr. Octocat
            <br>
               <b>Height:</b> 5 ft 7 in <b>Weight:</b> 122
            <br>
               <b>Heart Rate:</b> 66 BPM
           <br>
               <b>Prescription:</b> n/a
            <br>
               <b>Immunization:</b> n/a
            <br>
               <b>Referral:</b> n/a
            <br>
            <div class='note-box'>
               <b>Notes:</b> n/a
           </div>
            
         </div>

     
  </div>
</div>


<div class="container">

<div class='row one'>
      <div class='col box'>
         
            <b>Date:</b> Oct 15, 2017
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 120
         <br>
            <b>Heart Rate:</b> 62 BPM
         <br>
            <b>Prescription:</b> n/a
         <br>
            <b>Immunization:</b> Hep C
         <br>
            <b>Referral:</b> n/a
         <br>
         <div class='note-box'>
            <b>Notes:</b> Annual check up.
        </div>
         
      </div>



      <div class='col box'>
            <b>Date:</b> Jan 23, 2017
            <b>Doctor:</b> Dr. Octocat
         <br>
            <b>Height:</b> 5 ft 7 in <b>Weight:</b> 119
         <br>
            <b>Heart Rate:</b> 65 BPM
         <br>
            <b>Prescription:</b> n/a
         <br>
            <b>Immunization:</b> Tetanus
         <br>
            <b>Referral:</b> Dr. Git, Otorhinolaryngologists
         <br>
         <div class='note-box'>
            <b>Notes:</b> n/a
         </div>
        </div>

         <div class="col box">
            
               <b>Date:</b> April 12, 2016
               <b>Doctor:</b> Dr. Octocat
            <br>
               <b>Height:</b> 5 ft 7 in <b>Weight:</b> 122
            <br>
               <b>Heart Rate:</b> 66 BPM
           <br>
               <b>Prescription:</b> n/a
            <br>
               <b>Immunization:</b> n/a
            <br>
               <b>Referral:</b> n/a
            <br>
            <div class='note-box'>
               <b>Notes:</b> n/a
           </div>
            
         </div>

     
  </div>


  </body>
</html>
